body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #FFF;
    color: #36454F;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFF;
}

.logo {
    height: 60px; /* Adjust size as needed */
    width: auto;
}

.btn {
    padding: 10px 20px;
    background-color: #1ABC9C;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}
.signup-btn {
    background-color: #ff6b6b; /* Coral */
    color: #FFF; /* Keeps text color white for contrast */
    /* Other existing styling properties */
}
.btn.signup-btn-large {
    padding: 15px 30px; /* Increases padding for a larger button */
    font-size: 20px; /* Larger font size for the button text */
    border-radius: 8px; /* Optional: Adjusts the border radius for a slightly different shape */
    /* Keep the background color and text color styles the same or adjust as desired */
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 48px; /* Adjusts the heading size, make it bigger */
    margin-bottom: 20px; /* Ensures some spacing between the heading and paragraph */
}

.hero p {
    font-size: 24px; /* Adjusts the paragraph size for better readability */
}

.emphasize {
    font-weight: 400;
    color: #1ABC9C;
}
.emphasize.boa{
    font-family: 'Schoolbell', cursive;
    font-size: 60px;
}
.emphasize.tropa{
    font-family: 'Ubuntu', sans-serif;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #F2F2F2;
}
/* Existing styles... */

section {
    padding: 40px 20px;
    text-align: center;
}

#about, #how-it-works, #activities, #contact {
    background-color: #FAF9F9;
    margin: 20px 0;
    border-radius: 8px;
}

h2 {
    color: #1ABC9C;
    font-family: 'Lato', sans-serif;
}

p {
    color: #36454F;
    font-family: 'Lato', sans-serif;
}

#about-boatropa {
    background-image: url('https://wallpapers.com/images/featured/lisbon-1odpujjjj3cw1esb.jpg');
    background-size: cover; /* Ensures the background covers the entire section */
    background-position: center; /* Centers the background image */
    color: white; /* Adjust based on your image */
    padding: 50px 20px;
    position: relative;
}

#about-boatropa .container {
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay for better text visibility */
    padding: 20px;
    border-radius: 8px;
}

h2, p {
    margin: 0 0 20px;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

/* Responsive adjustments... */

@media (max-width: 768px) {
    header, .hero, footer {
        padding: 10px;
    }

    .hero {
        padding: 50px 10px;
    }

    .btn {
        padding: 8px 16px;
    }
}


